table {
  width: 100%;
}

.mat-column-select {
  width: 38px;
}

.example-container {
  max-width: 1100px;
  margin: 0 auto;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-dialog-title {
  margin-left: 40px;
}

.btn-request {
  position: fixed;
  bottom: 60px;
  right: 220px;
}

/*.mat-form-date-picker {
  position: fixed;
  width: 120px;
  bottom: 10px;

}*/

section {
  display: table;
  margin-left: 40px;
}

.example-button-row {
  display: table-cell;
  width: 490px;

}

.add-chat-button {
  margin-top: 5px;
  margin-left: 88%;
  alignment: right;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-card-goods {
  max-width: 450px;
  margin-top: 5px;
  margin-left: 2%;
  height: 2%;
  background-color: #848484;
}

.example-card-shipment {
  max-width: 450px;
  margin-top: 5px;
  margin-left: 50%;
  height: 2%;
  background-color: #848484;
}


.example-shipment-avatar {
  background-image: url('https://www.freeiconspng.com/thumbs/logistic-icon-png/transportation-and-logistics-icon-png-18.png');
  background-size: cover;

}

.example-goods-avatar {
  background-image: url('https://www.freeiconspng.com/thumbs/customers-icon/customers-icon-12.png');
  background-size: cover;
}

.content-card {
  margin-bottom: 40px;
}

mat-card-subtitle {
  margin-top: 10px;
}

.mat-card-header-text {
  margin-right: 200px;
}

.mat-card-header2 {
  width: 450px;
}

.mat-card > :first-child, .mat-card-content > :first-child {
  width: 450px;
  display: inline-flex;
  justify-content: space-between;

}
