html, body {
  /*width:  100%;*/
  /*height: 100%;*/
}
* {
  box-sizing: border-box;
}

.background {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background::before {
  content: "";
  background-image: url('src/app/login-page/img/container.jpg');
  background-size: cover;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.5;
}


.authentication {
  display: revert;
  max-width: 40%;
  width: 100%;
  height: 100%;
  margin: 30px auto;
  box-shadow: 0 0 10px #ccc;
  border-radius: 10px;
}

.title {
  text-align: center;
  margin-bottom: 50px;
}

.form-group {
  display: block;
  width: 100%;
  height:100%;
  margin-bottom: 15px;
  position: relative;
  float: none;
}

.form-group-text {
  text-align: center;
  margin: 0 0 20px;
}

.example-full-width {
  width: 100%;
  height: 100%;
}

.btn-group {
  display: flex;
}

.example-button-row {
  display: flex;
  justify-content: space-around;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.mat-card{
  /*color: aquamarine;*/
  /*position: -webkit-sticky;*/
  /*float: ;*/
}

