<body>
<app-login-register-nav-bar></app-login-register-nav-bar>
<div class="page">
<form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-card class="authentication">
    <mat-card-title class="title">Log In</mat-card-title>
    <mat-card-content class="align-column">

      <div class="form-groups">
        <div class="form-group">
          <div class="div">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>User name</mat-label>

                <input class="login" matInput placeholder="enter user name" required
                       minlength="4" formControlName="username">

            </mat-form-field>
          </div>
        </div>

          <div class="form-group">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Password</mat-label>
              <input class="password" type="password" matInput placeholder="enter your password" required
                     minlength="4" formControlName="password">
            </mat-form-field>
          </div>
        </div>

          <div class="out"></div>

          <div class="btn-group">
            <button class="btn-reset" type="reset"  mat-button ng-click="reset()">Reset</button>
            <button class="submit" type="submit" mat-raised-button color="primary">Submit</button>
          </div>
      </mat-card-content>
    </mat-card>

  </form>
</div>
</body>
