* {
  box-sizing: border-box;
}

body {
  background: url('img\transports.jpeg') no-repeat center / cover;
}

.authentication {
  position: fixed;
  left: 50%;
  background-color: #fff;
  display: block;
  max-width: 400px;
  width: 100%;
  margin: 30px auto;
  box-shadow: 0 0 10px #ccc;
  border-radius: 10px;
}

.title {
  text-align: center;
  margin-bottom: 50px;
}


.form-group {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

.form-group-text {
  text-align: center;
  margin: 0 0 20px;
}

.form-group-checkbox {
  margin: 0 0 40px;
}

.checkbox {
  display: inline-block;
  position: relative;
  top: 2.3px;
  margin-right: 10px;
}

.label {
  color: green;
}

.example-full-width {
  width: 100%;
}

.btn-group {
  display: flex;
  justify-content: space-around;
}

.btn-reset {
  background-color: #ffc107;
}
